@import '../variables';

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

div.col-with-border {
  border-right: 1px solid $accent;
}

div.fill-page {
  height: 100vh;
}

a:focus {
  color: $active;
  text-decoration: none;
}
