@import '../variables';

.recent-searches {
  margin-left: 25px;
  margin-top: 20px;
}

.title {
  font-weight: bold;
  color: $nav_font;
}

.recent-search {
  display: block;
  color: $nav_font;
  font-size: 18px;
  margin: 10px 0px 10px 5px;
}

.recent-search-link-active {
  font-size: 18px;
  font-weight: bold;
  color: $active;
}
